.main{
  margin-top: 3em;
}

.item {
  display: flex;
  margin-bottom: 25px;
}

.itemIncrements {
  width: 50px;
  opacity: 0.5;
}

.itemIncrements:hover {
  opacity: 1;
}

.itemIncrements > * {
  width: 100%;
  margin: auto;
  text-align: center;
}

.itemContent {
  flex: 1;
}
.itemContent > * {
  margin-bottom: 2px;
}

.itemMeta, .itemMeta a {
  font-size: .86rem;
  color: #666;
}

.itemMeta a:hover {
  text-decoration: underline;
} 

.itemSubject {
  background: #eee;
  border: 1px solid #ddd;
  padding: .2em .35em;
  line-height: 1;
  display: inline-block;
  border-radius: 0.4em;
  margin-right: .3em;
}

.itemHeader {
  font-size: 1.3em;
  padding-bottom: .2em;
}

.itemHeader a {
  color: #000;
}

.itemHeader a:hover {
  text-decoration: underline;
}

.itemHeader > * {
  display: inline;
  vertical-align: middle;
}

.arrow {
  background-image: url("/back.svg");
  width: 10px;
  height: 10px;
  background-size: 100% 100%;
  cursor: pointer;
  opacity: .5;
  transform: rotate(-90deg);
}

.arrow:hover {
  opacity: 1;
}

.invertedArrow {
  composes: arrow;
  transform: rotate(90deg);
}

.points {
  font-size: .7em;
}

.trash {
  width: 2ch;
  height: 2ch;
  opacity: 0;
  margin-left: .7ch;
  cursor: pointer;
}

.external {
  width: 1ch;
  width: 1ch;
}

.item:hover .trash, .item:hover .external {
  opacity: 0.5;
}

.trash:hover, .external:hover {
  opacity: 1;
}